<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{131,222}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{1,357},{131,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-21}</string>
                <key>spriteSize</key>
                <string>{167,178}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{883,181},{167,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-23}</string>
                <key>spriteSize</key>
                <string>{217,174}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{256,1},{217,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-22}</string>
                <key>spriteSize</key>
                <string>{253,176}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{113,200}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{468,332},{113,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{161,210}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{256,177},{161,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-21}</string>
                <key>spriteSize</key>
                <string>{119,178}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{670,359},{119,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-24}</string>
                <key>spriteSize</key>
                <string>{125,172}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{1063,348},{125,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-24}</string>
                <key>spriteSize</key>
                <string>{127,172}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{236,340},{127,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-22}</string>
                <key>spriteSize</key>
                <string>{111,176}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{883,350},{111,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{165,178}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{1063,181},{165,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{159,178}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{1094,1},{159,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-22}</string>
                <key>spriteSize</key>
                <string>{233,176}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{1,179},{233,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-22}</string>
                <key>spriteSize</key>
                <string>{211,176}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{475,1},{211,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-22}</string>
                <key>spriteSize</key>
                <string>{201,176}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{688,1},{201,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-21}</string>
                <key>spriteSize</key>
                <string>{189,178}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{692,179},{189,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-21}</string>
                <key>spriteSize</key>
                <string>{201,178}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{891,1},{201,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{161,210}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{256,177},{161,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{151,222}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{468,179},{151,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>normal1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{131,222}</string>
                <key>spriteSourceSize</key>
                <string>{275,240}</string>
                <key>textureRect</key>
                <string>{{1,357},{131,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{1254,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cded709b814d455d8c610e7cfcc7daa:2acccdd3af2a51e2c4e989afe1eab036:6e944191f15ab4e588a1ab6bcc3bd21e$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
