<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{258,442}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{351,1},{258,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-42}</string>
                <key>spriteSize</key>
                <string>{332,354}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1631,1},{332,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-47}</string>
                <key>spriteSize</key>
                <string>{432,344}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{611,1},{432,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-45}</string>
                <key>spriteSize</key>
                <string>{502,348}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{502,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{224,396}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1359,399},{224,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{320,418}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{957,1},{320,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-43}</string>
                <key>spriteSize</key>
                <string>{232,352}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1429,797},{232,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-49}</string>
                <key>spriteSize</key>
                <string>{248,340}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1663,873},{248,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-48}</string>
                <key>spriteSize</key>
                <string>{252,342}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{351,887},{252,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-44}</string>
                <key>spriteSize</key>
                <string>{220,350}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1663,651},{220,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-42}</string>
                <key>spriteSize</key>
                <string>{328,354}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{695,857},{328,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-42}</string>
                <key>spriteSize</key>
                <string>{314,354}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1631,335},{314,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-45}</string>
                <key>spriteSize</key>
                <string>{462,348}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1,505},{462,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-44}</string>
                <key>spriteSize</key>
                <string>{420,350}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{651,435},{420,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-44}</string>
                <key>spriteSize</key>
                <string>{396,350}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1279,1},{396,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-42}</string>
                <key>spriteSize</key>
                <string>{376,354}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1051,821},{376,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-42}</string>
                <key>spriteSize</key>
                <string>{398,354}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{1003,421},{398,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{320,418}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{957,1},{320,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{298,440}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{351,445},{298,440}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{258,442}</string>
                <key>spriteSourceSize</key>
                <string>{550,480}</string>
                <key>textureRect</key>
                <string>{{351,1},{258,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{2014,1186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4b4d7107159420a48fabd9d86000ac3:2acccdd3af2a51e2c4e989afe1eab036:6e944191f15ab4e588a1ab6bcc3bd21e$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
